@import 'tailwindcss';
@import 'tw-animate-css';
@import '@repo/tailwind-config/theme.css';

@config '../../tailwind.config.ts';

@source '../../../../packages/ui/src/**/*.{ts,tsx}';

@plugin "tailwindcss-debug-screens" {
  classname: 'debug-screens';
  position: 'bottom, right';
  prefix: 'screen: ';
}

::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}
